# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#sha1 collision detection specific config files.
Makefile.config
lib/simd/config.h
lib/simd/dvs_simd.c
lib/simd/dvs_simd.h

# sha1 collision detection specific build directories
bin/
dep_lib/
dep_src/

#sha1 collision detection specific logs
/test_*.log
