language: c

os:
- linux
- osx

compiler:
- gcc
- clang

env:
  matrix:
  - LIBTOOL=
  - LIBTOOL=libtool-disabled

matrix:
  allow_failures:
  - os: osx

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]] && [[ "LIBTOOL" != "libtool-disabled" ]]; then brew install libtool; fi

script:
  - autoreconf --install
  - ./configure --prefix=$(pwd)/local
  - make
  - make install
  - find local

notifications:
  on_success: change
  on_failure: always
